<article class="card">
  <img src="{{image}}" alt="{{name}}" class="card-img" />
  <div class="card-body">
    <h3 class="card-title">{{uppercase name}}</h3>
    <p class="card-text">{{shortDescription}}</p>
    <a class="button" href="/city/{{id}}">Ver más</a>
  </div>
</article>