<main class="container mt-4 flex-grow-1">
    <h1 class="text-center text-primary mb-4">Productos Usando Cursor</h1>
    <div class="d-flex justify-content-end mb-3">
        <a href="/productos" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Volver
        </a>
    </div>

    <div class="table-responsive">
        <table id="tablaCursor" class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-primary text-center">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td class="text-center">{{this.id}}</td>
                    <td>{{this.nombre}}</td>
                    <td class="text-end">${{this.precio}}</td>
                    <td>{{this.categoria}}</td>
                    <td class="text-end">{{this.stock}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>

<br/>